<header>
	<nav>
		<ul>
			<li><a href="#" title="Back to the main page">Home</a></li>
			<li><a href="#" title="Manage your profile">Profile</a></li>
			<li><a href="#" title="Browse chat rooms">Rooms</a></li>
			<li><a href="#" title="About this chat system">About</a></li>
			<li><a href="#" title="Contact us">Contacts</a></li>

			<li class="pull-right"><a href="#" title="Create new profile">Register</a></li>
		</ul>
	</nav>

	<a id="logo" href="#" title="Back to the home page">Intelli-Chat</a>
</header>